@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    font-family: Helvetica Neue, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  body {
    @apply text-regular;
  }

  input,
  select,
  textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgb(228, 228, 228);
  }
}

@layer utilities {
  .minimized {
    @apply h-0 w-0 border-none outline-none m-0 p-0 absolute opacity-0;
  }

  .disabled {
    @apply cursor-default pointer-events-none opacity-40;
  }
}
